*.o
*.Po
.ycm_extra_conf.py
.ycm_extra_conf.pyc
Makefile
Makefile.in
Makefile.in.in
/autom4te.cache
/INSTALL
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/data/desktop/pnmixer.desktop
/depcomp
/install-sh
/missing
/mkinstalldirs
/pixmaps/pnmixer.xcf
/src/html
/src/latex
/src/TAGS
/src/pnmixer
/stamp-h1
/po/*.gmo
/po/.intltool-merge-cache
/po/messages.mo
/po/POTFILES
/po/stamp-it
