*.o
*.Po
/autom4te.cache
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/pixmaps/pnmixer.xcf
/src/Makefile
/src/Makefile.in
/src/TAGS
/src/pnmixer
/stamp-h1
/po/Makefile
/po/Makefile.in
/po/*.gmo
/po/POTFILES
/po/*.pot
/po/messages.mo
