*.o
*.Po
.ycm_extra_conf.py
.ycm_extra_conf.pyc
/autom4te.cache
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mkinstalldirs
/pixmaps/pnmixer.xcf
/src/html
/src/latex
/src/Makefile
/src/Makefile.in
/src/TAGS
/src/pnmixer
/stamp-h1
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/*.gmo
/po/POTFILES
/po/*.pot
/po/messages.mo
